$grey-500: #4D4F62;
$grey-500: #6A7178;
$white: #FFFFFF;
$red: #EA5454;
$blue: #549EF2;
$cyan: #44D3D2;
$orange: #FCAE4A;



@mixin border-top($color) {
  border-top: 3px solid $color;
}

@mixin add-all-borders($color) {
  border: 3px solid $color;
}