@use './color.scss' as color;
@use './typography.scss' as type;
@use './size' as size;
@use './reset.scss';


main {
  padding: size.$space-400;
  display: grid;
  gap: 2rem;
}

.header {
  &__text {
    @include type.preset(2);
    &--bold {
      @include type.preset(1)
    }
  }

  p {
    @include type.preset(4);
  }

}

.card {
  padding: size.$space-400;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;

  &__text {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  h2 {
    @include type.preset(3);
  }

  p {
    @include type.preset(5);
  }

  img {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }
}

.supervisor {
  @include color.border-top(color.$cyan);
}

.team-builder {
  @include color.border-top(color.$red);
}

.karma {
  @include color.border-top(color.$orange);
}

.calculator {
  @include color.border-top(color.$blue);
}